<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>IMatrix</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
    	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
   		<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/progress.css}"/>
    </head>
    <body>
    	<h1>I-Matrix</h1>
        <h1>Post</h1>
        
        <div>
        	<h2>Your Image</h2>
		  	<img th:src="${new_image}"><br>
		</div>
		
		<form method="POST" enctype="multipart/form-data" action="/custom">
		<div>
		<tr><td>File to upload:</td><td><input type="file" name="file" accept="image/*"/></td></tr><br>
		 Type K Value you want less than width and height of image: <input type="text" name="kValue" placeholder="K Value"/>
		 <input type="submit" onclick="countNumbers()"/>
		</div>
		</form>
		<div class="progress">
	        <div class="progress-bar" id="bar">
	            <span class="sr-only"></span>
	        </div>
	    </div>
		<script th:src="@{/scripts/fastProgress.js}" type="text/javascript"></script>
    </body>
</html> 