#custom{
  display: inline-block;
}
#submit_but{
  display: inline-block;
}
br {
   display: block; /* makes it have a width */
   content: ""; /* clears default height */
   margin-top: 0;
}
img.center {
    display: block;
    margin: 0 auto;
}

img {
  -webkit-transform: scale(0.7); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.7); /* FF3.5+ */
      -ms-transform: scale(0.7); /* IE9 */
       -o-transform: scale(0.7); /* Opera 10.5+ */
          transform: scale(0.7);
             /* IE6–IE9 */
             filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');
}